/* .containerhome {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 1275px;
    top: 0;
    background-color: white;
    text-align: center;
} */

.containerhome {
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 1275px;
    top: 0;
    border-radius: 90px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* .cname {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background: none;
    border: white;
    background-color: rgb(255, 228, 201);
    border-radius: 30px;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
}
.cname:active{
    transform: translateY(2px);
}
.cname:hover{
    background-color: orangered;
    color: white;
    font-size: larger;
} */

.cname {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(255, 228, 201);
    border-radius: 30px;
    font-size: larger;
    font-weight: 900;
    position: relative;
    box-shadow: 0 0 0 5px white;
}

.cname:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 35px;
    box-shadow: 0 0 0 5px white;
    pointer-events: none;
}

.cname:active {
    transform: translateY(2px);
}

.cname:hover {
    background-color: orangered;
    color: white;
    box-shadow: 0 0 0 5px white;
    font-size: larger;
}


.searchbar {
    margin-top: 30px;
    margin-left: 50%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding: 10px;
    background: none;
    border: white;
}

.search{
    margin-top: -55px;
    margin-left: 30%;
    margin-right: 10%;
    height: 30px;
    float: center;
    color: black;
    position: fixed;
    font-size: large;
    z-index: 1;
    border: white;
    background: none;
    border-radius: 30px;
}

.signin {
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 30px;
    padding: 10px;
    background: none;
    border: white;
    border-radius: 30px;
    background-color: rgb(42, 107, 42);
    color: white;
}
.signin:hover{
    background-color: rgb(225, 26, 26);
    color: white;
}

.cart {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    background: none;
    border: white;
    color: black;
    font-size: large;
    border-radius: 30px;
}
.cart:hover{
    border-color: black;
}

.cart :active{
    transform: translateY(2px);
}


@media screen and (max-width: 768px) {
    .cname{
        margin-left: -30px;
        margin-right: 90px;
    }
    .searchbar {
        margin-left: 20%;
        margin-right: 5%;
    }
    .search {
        margin-left: 90px;
        padding: 10px;
        margin-right: -30px;
    }
    .signin {
        margin-right: 2.5%;
    }
    .cart {
        margin-right: -20px;
    }
}

@media screen and (min-width: 768px) {
    .cname{
        margin-left: 10px;
        margin-right: 90px;
    }
    .searchbar {
        margin-left: 690px;
        margin-right: 10px;
    }
    .search{
        padding: 15px;
        margin-left: 690px;
    }
    .signin {
        margin-right: 50px;
    }
    .cart {
        margin-right: 40px;
    }
}

